/* Default styles */
.currency-div {
  display: flex;
  margin-top: 80px;
  flex-direction: column;
  gap: 10px;
  width: 650px;
  height: 250px;
  background-image: url(../images/currency-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #2e86de; /* Mavi tonu */
  color: white; /* Beyaz yazı rengi */
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0c3f04; /* Yeşil tonu */
  color: antiquewhite;
  border-radius: 10px;
  margin-bottom: 50px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0;
  width: 100%;
  height: 50px;
}

.amount,
.from-currency-option,
.to-currency-option,
.result {
  width: 100px;
  height: 30px;
  background-color: #e6b93e; /* Turuncu tonu */
  color: black; /* Siyah yazı rengi */
}

.input-div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.convert-button {
  margin: auto;
  width: 100px;
  height: 30px;
  background-color: #0c3f04; /* Kahverengi tonu */
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  color: bisque;
}

.convert-button:hover {
  background-color: #27ae60; /* Daha koyu yeşil tonu */
  color: white;
}

.convert-button:active {
  background-color: #0c3f04; /* Daha koyu mavi tonu */
  color: white;
  transform: scale(0.9);
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .currency-div {
    width: 80%;
    height: auto;

    margin-top: 30px;
  }

  .title {
    margin-bottom: 30px;
  }

  .amount,
  .from-currency-option,
  .to-currency-option,
  .result {
    width: 80px;
    height: 25px;
  }

  .convert-button {
    width: 80px;
    height: 25px;
    margin-top: 15px;
    font-size: 12px;
  }
}
